<html>
<head>
 
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"></link> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"></link> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.css"></link>  
</head>
<body>
  <div class="container ">
  <%=title%>
</div>
<body>
</html>